
.row_navbar{
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.container_navbar{
    width: 100%;
    margin: 0 auto;
}

.column_navbar{
    display:flex;
    align-items:center ;
    justify-content:center;
    margin-top: 80px;
    padding: 50px;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

nav{
    background:linear-gradient(135deg, rgba(234, 202, 228, 0.792), rgba(229, 163, 225, 0.906));
    padding: 0.7rem 1.7rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    border-radius: 10rem;
    backdrop-filter: blur(15px);
    z-index: 1;
    margin: 0px auto;
}

.icon_nav{

    font-size: 20px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50px;
    display: flex;
    color:#ffffff99;
    font-size: 1.1rem;
    color: white;
}

nav a:hover{
    background: rgba(0,0,0,0.3);
    color: white;
}

nav a.active{
    background:#5f1664;
    color:#fff;
}

@media screen and (max-width:572px){
    nav{
        width: 100%;
    }
}

@media screen and (max-width:502px){
   nav{
    width: 90%;
   }
   nav a{
    font-size: 0.6rem;
    padding: 0.1rem;
   }
   .icon_nav{
      font-size: 15px;
   }
}

@media screen and (max-width:502px){
    .column_navbar{
        margin-left: 30px;
    }
}